## Observations and Insights

In [201]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset they merge on Mouse ID 
data_merge = pd.merge(mouse_metadata, study_results, on ='Mouse ID', how ='left')

In [202]:
data_merge.tail()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [203]:
# Checking the number of mice in the DataFrame.

data_merge.tail()
number_check = data_merge['Mouse ID']
number_check.unique()

# The data is stored in an array right now so I need the length instead of using a different function call

len(number_check.unique())

249

In [204]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 

#study_results.head() use this information to isolate Mouse ID and Timepoint. Each mouse should appear ten times 

data_merge['Mouse ID'].value_counts().head()

# g989 has 13 instances of values which means it has three additional values.

g989    13
r701    10
k403    10
a897    10
n364    10
Name: Mouse ID, dtype: int64

In [205]:
# Optional: Get all the data for the duplicate mouse ID. I want to change the index to the Mous ID so I can search for that mouse specifically 

ID_index = data_merge.set_index('Mouse ID')

#Now that I have the index set to mouse id I can specifically reference the mouse/mice I'm looking for 

mouse_g989 = ID_index.loc['g989', :]
mouse_g989.head()

,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
Mouse ID,,,,,,,
g989,Propriva,Female,21,26,0,45.000000,0
g989,Propriva,Female,21,26,0,45.000000,0
g989,Propriva,Female,21,26,5,48.786801,0
g989,Propriva,Female,21,26,5,47.570392,0
g989,Propriva,Female,21,26,10,51.745156,0

In [206]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.

g989_drop = ID_index.drop(index = 'g989')

#clean_results.loc['g989', :]

# I checked to make sure that g989 no longer exists in the data set which it doesnt

#When I tried to pull the data up I couldn't I have to reset the index because Mouse ID isn't a column, right now it's an index

clean_results = g989_drop.reset_index()
clean_results['Mouse ID'].value_counts().head()

#I saved the reset data as a new DF and checked to make sure none of the points exceeded 10 points.

q511    10
r604    10
n364    10
r701    10
i557    10
Name: Mouse ID, dtype: int64

In [207]:
# Checking the number of mice in the clean DataFrame.

# Checking above I can see that the length is 248 so I will double check 

clean_count = clean_results['Mouse ID'].unique()

# The data is stored in an array right now so I need the length instead of using a different function call the same method was applied above

len(clean_count)

248

## Summary Statistics

In [212]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

#Group the drug data so I can individually manipulate it 
grouped_data = clean_results.groupby(['Drug Regimen'])

mean_drug = grouped_data['Tumor Volume (mm3)'].mean()
median_drug = grouped_data['Tumor Volume (mm3)'].median()
variance_drug = grouped_data['Tumor Volume (mm3)'].var()
std_dev_drug = grouped_data['Tumor Volume (mm3)'].std()
sem_drug = grouped_data['Tumor Volume (mm3)'].sem()

# This method is the most straighforward, creating multiple series and putting them all together at the end.

stat_summary = pd.DataFrame({'Mean': mean_drug, 'Median': median_drug, 'Variance': variance_drug, 'Standard Deviation': std_dev_drug, 'SEM': sem_drug})
stat_summary

                   Mean     Median   Variance  Standard Deviation       SEM
Drug Regimen
Capomulin     40.675741  41.557809  24.947764            4.994774  0.329346
Ceftamin      52.591172  51.776157  39.290177            6.268188  0.469821
Infubinol     52.884795  51.820584  43.128684            6.567243  0.492236
Ketapril      55.235638  53.698743  68.553577            8.279709  0.603860
Naftisol      54.331565  52.509285  66.173479            8.134708  0.596466
Placebo       54.033581  52.288934  61.168083            7.821003  0.581331
Propriva      52.320930  50.446266  43.852013            6.622085  0.544332
Ramicane      40.216745  40.673236  23.486704            4.846308  0.320955
Stelasyn      54.233149  52.431737  59.450562            7.710419  0.573111
Zoniferol     53.236507  51.818479  48.533355            6.966589  0.516398

In [213]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

## Bar Plots

In [9]:
# Generate a bar plot showing the number of mice per time point for each treatment throughout the course of the study using pandas.

In [10]:
# Generate a bar plot showing the number of mice per time point for each treatment throughout the course of the study using pyplot.

## Pie Plots

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the most promising treatment regimens. Calculate the IQR and quantitatively determine if there are any potential outliers.

In [14]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [15]:
# Generate a line plot of time point versus tumor volume for a mouse treated with Capomulin

In [16]:
# Generate a scatter plot of mouse weight versus average tumor volume for the Capomulin regimen

## Correlation and Regression

In [17]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen